@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
/* font-family: 'Roboto', sans-serif;
*/
:root {
  --redPurple: rgb(12, 10, 62);
  --carrotOrange: #ed622f;
  --darkCoral: #cd5334;
  --paleRobin: #7de2d1;
  --snow: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
}

body {
  font-family: "Opens Sans", sans-serif;
  /* background: linear-gradient(var(--snow)
  ,
  rgb(12, 10, 62,0.60)
   );*/
  /*  background: rgb(202, 201, 211);*/
  /*  background:  #3D3A4B; footer*/
 /* background: #8d80ad;*/
 background:white;

}

/*-------------------------------------------Global Styles-----------------------------------------*/
.bell-fonts {
  font-family: "La Belle Aurore", cursive;
}

.sans-pro {
  font-family: "Source Sans Pro", sans-serif;
}
.showItem {
  display: block;
}

.section-padding {
  margin-top: 3rem;
}

/*Title */
.section-title {
  padding: 3rem 2.5rem;
  align-self: center;
  text-align: right;
}

.section-title__name {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
 /* font-style: italic;*/
 color: var(--darkCoral);
}

.section-title__underline {
  background: var(--darkCoral);
  width: 5rem;
  height: 0.25rem;
}

@media screen  and (max-width: 560px){
  .section-title__name {
    font-size: 2rem;

  }
}
.section-title__text {
  color: black;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

.grid-container {
  max-width: 85vw;
  margin: 2rem auto;
  grid-template-columns: 1.5fr 1fr;
  display: grid;
  grid-row-gap: 2rem;
}

.section-profile__image {
  width: 55%;
  margin: 2rem auto;
  position: relative;
}

@media only screen and (max-width: 1083px) and (min-width:770px)  {
  .section-profile__image {
    width: 67%;
     margin: 5rem auto;
  }
}

/* border effect
.section-profile__image::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainYellow);
  z-index: 10;
  transition: all 1s ease-in-out;
  border: 5px solid var(--snow);
  border-radius: 50%;
}

.section-profile__image:hover::before {
  top: -8px;
  left: -6px;
}
*/
.section-profile__image_img {
  width: 100%;
  border-radius: 50%;
  position: relative;
  z-index: -11;
  border: 1px solid white;
  box-shadow: 2px 3px 12px #1A1820;
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*-----------------------------------------End Global Styles---------------------------------------*/
/*----------------------------------------Loader --------------------------------------------------*/
.preloader-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0c0a3e;
  transition: all 1s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}

.preloader-text {
  color: var(--carrotOrange);
  letter-spacing: 0.7rem;
  margin-left: 1.8rem;
}

@media screen and (max-width: 768px) {
  .preloader-text {
    text-align: center;
  }
}
/*----------------------------------------End Loader-----------------------------------------------*/

/*-----------------------------------------Header---------------------------------------------------*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

header::after {
background:white;
 /* background: #8d80ad;*/
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: skewY(3deg);
  left: 0;
  transform-origin: right;
}

/*Banner */
.banner {
  text-align: center;
  z-index: 3;
  color: var(--snow);
}
.banner__title {
  font-size: 7rem;
  line-height: 1.2;
  font-style: italic;
}

.banner__subtitle {
  font-size: 1.8rem;
  letter-spacing: 1rem;
}

.banner__social {
  display: block;
  text-decoration: none;
  border: 1.3px solid var(--snow);
  border-radius: 50%;
  padding: 0.25rem;
  transition: all 0.5s ease;
  color: var(--snow);
}

.banner__icons {
  width: 50%;
  display: grid;
  grid-template-columns: 2rem 2rem;
  grid-column-gap: 0.5rem;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
}

.banner__social:hover {
  background: var(--darkCoral);
}

@media screen and (max-width: 768px) {
  header {
    background: url(../img/cityBackground-media.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .video__container {
    display: none;
  }

  .banner__title {
    font-size: 3rem;
  }
  .banner__subtitle {
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }
}

/*NavBar Button */
.navbar-button__container {
  display: none;
  border: 2px solid white;
  height: 45px;
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  transition: all 1s ease;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  transition: all 2s ease;
  background: hsla(12, 60%, 50%, 0.400)
}

.navbar-button__bar1,
.navbar-button__bar2,
.navbar-button__bar3 {
  height: 3px;
  width: 26px;
  margin: 0.47rem 0.45rem;
  background: white;
  transition: all 1s ease;
}
.navbar-button__container:hover {
  background: var(--darkCoral);
}
.change .navbar-button__bar1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}
.change .navbar-button__bar2 {
  opacity: 0;
}
.change .navbar-button__bar3 {
  transform: rotate(45deg) translate(-7px, -7px);
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
/*  width: 20%;*/
  margin-top: 4rem;
  margin-right: 4rem;
}

.navbar-links {
  display: flex;
  flex-direction: none;
  justify-content: space-evenly;
  list-style-type: none;
  margin-right: 1.5rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
 /* font-style: italic;*/
 text-transform: uppercase;
}

.navbar-links__single {
  margin-right: 1.5rem;
}
/*
.navbar-links__single:hover{
  transform: scale(1.1);
}*/

.navbar-links__single:hover a {
  transition: all 0.1s ease-in;
  color: #ed622f;
  border-bottom: 1px solid #ed622f;
}

.navbar-logo{
  display: none;
}

@media screen and (max-width: 612px) {
  .navbar-button__container {
    display: block;
  }

  /*NavBar*/
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    background: #0c0a3ed5;
    position: fixed;
    transition: all 0.9s ease-in-out;
    overflow: hidden;
    z-index: 3;
    width: 0;
    margin: 0;
  }

  .navbar-show {
    width: 100%;
  }

  .navbar-links {
    display: block;
    list-style-type: none;
    padding-top: 4rem;
    text-align: center;
    margin: 4rem auto;
    width: 70%;  
  }
  
  .navbar-links__single {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 1.1rem 0.25rem;
    transition: all 0.25s ease;
    cursor: pointer;
     border-top: 2px solid #fafafa3f;
   }
  
  .navbar-links__single a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: white;
  }
  
  .navbar-links__single:hover {
    transform: none;
  }
  
  .navbar-links__single:hover a {
    color: var(--darkCoral);
    transition: none;
    border: none;
    transition: all 0.7s ease-in;
  }
  

.navbar-logo{
  display:flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo p{
  border: 2px solid white;
  border-radius: 100%;
  color: white;
  padding: 0.5rem;
  letter-spacing: 0.1;
  
}

}
/*Video*/
.video__container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*--------------------------------------End Header---------------------------------------------------*/

/*---------------------------------------Profile-----------------------------------------------------*/
.profile {
  min-height: 80vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url("../img/bg-curvy-desktop.svg")center/cover   no-repeat;*/
   
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/*-------------------------------------EndProfile----------------------------------------------------*/
/*---------------------------------------Portfolio--------------------------------------------------*/

.portfolio {
  background-color: var(--redPurple);
  background: url("../img/connection-contemporary-data-450035.jpg") center/cover
    fixed no-repeat;
/*    background:  hsl(229, 31%, 21%);*/
  position: relative;
  overflow: hidden;
  padding-bottom: 8rem;
}

.portfolio::after {
   
  /*background: #8d80ad;*/
  background: white;;
  content: "";
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: skewY(3deg);
  left: 0;
  transform-origin: left;
}

.portfolio-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio-container {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
  }
}

.portfolio .section-title__name {
  margin-top: 2rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 4rem;
}
@media screen and (max-width: 740px) {
  .right,
  .left {
    align-items: flex-start;
    padding: 0;
  }
  .grid-container .section-title {
    text-align: left;
   }
}

.portfolio-singleItem {
  max-width: 90vw;
  margin: 2rem;
  z-index: 0;
}

.portfolio-singleItem-container {
  position: relative;
  overflow: hidden;
  background: var(--darkCoral);
  max-height: 127px;
}

@media screen and (max-width: 1159px) {
  .portfolio-singleItem-container {
    max-height: 200px;
    }
}
.portfollio-singleItem__img {
  width: 100%;
  height: 100%;
  display: block;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.portfolio-singleItem-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  text-decoration: none;
  color: var(--darkCoral);
  font-size: 4rem;
  transition: all 0.5s ease;
  transform: scale(0);
}

.portfolio-singleItem__text {
  background: white;
  padding: 1rem;
  font-style: italic;
  z-index: 2;
}

.portfolio-singleItem:hover .portfollio-singleItem__img {
  transform: scale(1.2);
}

.portfolio-singleItem:hover .portfollio-singleItem__img {
  opacity: 0.5;
}
.portfolio-singleItem:hover .portfolio-singleItem-icon {
  transform: scale(1.1) translate(-50%, -50%);
}

.portfolio-singleItem__name {
  color: var(--darkCoral);
  font-size: 1rem;
}

.portfolio-singleItem__line {
  background: var(--darkCoral);
  height: 2px;
  margin-bottom: 0.7rem;
  text-align: right;
}

.portfolio-singleItem__resource {
  text-align: right;
  font-size: 0.8rem;
}
/*End Modal */
/*------------------------------------End Portfolio--------------------------------------------------*/
/*------------------------------------Footer------------------------------------------------------*/
.footer {
  background: #3d3a4b;
  padding: 2rem;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-areas:
    "title title"
    "info icons";
  width: 100%;
}

.footer .banner__icons {
  grid-template-columns: 2rem 2rem 2rem;
}
.footer-title {
  width: 100%;
  grid-area: title;
  padding-bottom: 0;
  padding-top: 0;
}
.footer-info {
  grid-area: info;
  padding: 0 2.5rem;
  margin: 0;
}
.footer-icons {
  grid-area: icons;
  justify-content: end;
}

.footer-info {
  width: 50%;
  text-align: left;
  align-self: center;
 }

.footer-name {
  color: white;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  width: 100%;
  grid-area: name;
  line-height: 2rem;
}

.footer-email {
  color: white;
  text-decoration: none;
  margin-top: 0.5rem;
  grid-area: icons;
}

.footer-email:hover {
  transition: all 0.2s ease;
  color: var(--darkCoral);
  border-bottom: 1px solid var(--darkCoral);
}

@media screen and (max-width: 988px) {
  .footer {
    grid-template-areas:
      "title"
      "info"
      "icons";
      justify-content: center;
  }
  .footer-title {
    padding-left: 0;
  }
  
.banner__icons{
  width: 30%;
 }
  .footer-info {
    width: 100%;
    text-align: center;
  }

  
}

/*------------------------------------End Footer--------------------------------------------------*/
